# IDE
.vscode
# Exclude all STL files
*.stl
*.3mf

# Exclude CPU and memory profiles
*.prof
*.pprof

*.png
# Exclude all png files except for test files
!render/testdata/defacto*.png

# Don't exclude example images
!examples/fig/*.png
